@model string

<div class="container py-5">
    <div class="alert alert-success">
        <h4 class="alert-heading">Thanks for your order!</h4>
        <p>Payment confirmed. Your session id: <code>@Model</code></p>
        <hr />
        <a class="btn btn-primary" href="/Shop/Index">Back to Shop</a>
    </div>
</div>
